<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name = "Test"
			 connectionString="Server=34.122.109.192;Database=test_db;User Id=user1;Password=test1;"
			 providerName="System.Data.SqlClient"/>
		<add name = "Sys"
			 connectionString="Server=192.168.255.0;Database=sys_db;User Id=myUsername;Password=myPassword;"
			 providerName="System.Data.SqlClient"/>
		<add name = "Dev"
			 connectionString="Server=192.168.255.0;Database=dev_db;User Id=myUsername;Password=myPassword;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
</configuration>